.round1 {
    background-color: #ddccb5;
    border: 2px solid #897048;
    border-radius: 100%;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    display:flex; 
    justify-content:center;
    align-items:center;
}
.shadow1{ /* membuat class shadow1 */
    position: relative; /* membuat position relative */
    padding: 20px; /* membuat padding 20px */
    background-color: #f0f0f0; /* membuat background warna abu-abu */
    border: 1px solid #000; /* membuat border 1px solid hitam */
    border-radius: 20px 0;  /* membuat border radius 20px 0 */
    box-shadow: 0 0 10px rgba(9, 255, 70, 0.8); /* membuat box shadow */
}
.shadow2{ /* membuat class shadow2 */
    position: relative; /* membuat position relative */
    padding: 20px; /* membuat padding 20px */
    margin: 20px 0; /* membuat margin 20px 0 */
    background-color: #f0f0f0; /* membuat background warna abu-abu */
    border: 1px solid #000; /* membuat border 1px solid hitam */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); /* membuat box shadow */  
}
