*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background-color: #675D50;
}
.login-box{
	width: 320px;
	height: 420px;
	background: #41644A;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-shadow: 5px 5px 10px rgba(0,0,0,0);
	padding: 70px 30px;
}
.login-box h2{
	margin: 0;
	padding: 0 0 20px;
	font-size: 22px;
	text-align: center;
    color: aliceblue;
}
.user-box{
	position: relative;
}
.user-box input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.user-box label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label{
	top: -20px;
	left: 0;
	color: #000000;
	font-size: 12px;
}
.user-box input:focus,
.user-box input:valid{
	border-bottom: 2px solid #000000;
}
input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #000000;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
    position: absolute;
    left: 30%;
    right: 30%;
}